.main {
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 50%;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 20px;
}

input {
  height: 30px;
  border: none;
  width: 95%;
}
input:focus {
  outline: none;
}

.grid-button-container {
  float: right;
  margin-top: -45px;
  margin-right: 5%;
  cursor: pointer;
}

.users-container-grid {
  padding: 5%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.users-container-list {
  padding: 5%;
  display: grid;
  gap: 10px;
  grid-template-columns: none;
}

.user {
  border: 1px solid gray;
  border-radius: 4px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;
}

img {
  border-radius: 50%;
}

.title {
  padding: 0 20px;
}
